.header__logo-link {
  display: inline-block;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  transition: opacity .5s linear;
}

.header__logo-link:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo-link {
    margin-left: 30px;
    width: 103px;
    height: 24px;
  }
}

@media screen and (max-width: 425px){
  .header__logo-link {
    margin-top: 27px;
  }
}
