.profile__info {
  font-size: 0;
  max-width: 336px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  column-gap: 18px;
  row-gap: 11px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin-left: 30px;
    column-gap: 9px;
    row-gap: 9px;
  }
}