.enter__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 50px 0;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .enter__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}