.error_type_password {
  top: 180px;
  left: 1px;
}

@media screen and (max-width: 767px) {
  .error_type_password {
    top: 180px;
  }
}

@media screen and (max-width: 425px) {
  .error_type_password {
    width: 100%;
    top: 173px;
  }
}