.header__burger {
  display: block;
  margin: 0 30px 0 0;
  padding: 0;
  justify-self: end;
  align-self: end;
  background: transparent url("../../../images/burger.svg");
  background-size: contain;
  border: none;
  transition: opacity .3s linear;
  width: 24px;
  height: 18px;
}

@media screen and (min-width: 425px){
  .header__burger {
    display: none;
  }
}