.header__stage_logout {
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  background-color: #000;
  border: none;
  margin: 0;
  display: block;
}

.header__stage_logout:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .header__stage_logout {
    margin-right: 30px;
  }
}

@media screen and (max-width: 425px){
  .header__stage_logout {
    display: none;
    justify-self: stretch;
    grid-column: 1/3;
    order: -1;
    margin: 0;
    padding: 0 0 39px 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}