.enter__subtitle {
  margin: 15px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .enter__subtitle {
    margin-top: 20px;
  }
}